@import '_fonts.scss', '_mixins.scss', '_colors.scss';
@import '_Articles.scss', '_SearchBar.scss';
@import '_Login.scss';

* {
  font-size: 16px;
  box-sizing: border-box;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  border: 0 0 0 0;
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: $bg-color;
  overflow: hidden;
}

.main {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
  padding: 3rem;
  padding-top: 8rem;
  overflow: hidden;
}

@media screen and (min-width: calc(848px)) {
  .main {
    width: calc(848px);
  }
}

a {
  text-decoration: none;
}

h1 {
  @include font-title;
}

.search {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  width: 100%;
}
